{% extends "IconsDefaultBundle::layout.html.twig" %}

{% block content %}
    <article>
        <a name="about"><br/></a>

        <article class="triple">
            Icons is a <a href="http://en.wikipedia.org/wiki/Demoparty">demoparty</a>, a festival of <a href="http://en.wikipedia.org/wiki/Electronic_art">electronic art</a>.
        </article>
    </article>

    <article>
        <h1><a name="location">Location</a></h1>

        <article class="double">
            <iframe width="99%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Eerikinkatu+11,+Helsinki,+Suomi&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=58.816238,135.263672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Eerikinkatu+11,+00100+Helsinki,+Finland&amp;z=14&amp;ll=60.167011,24.934566&amp;output=embed" class="google map"></iframe>
        </article>

        <article>
            Andorra Kulttuurikompleksi<br/>
            Eerikinkatu 11, 00100 Helsinki
        </article>
    </article>

    <article>
        <h1><a name="schedule">Schedule</a></h1>

        <article class="full">
            To be announced.
        </article>
    </article>

    <article>
        <h1><a name="competitions">Competitions</a></h1>

        <article>
            <p>
                Deadline for all competitions is
                9th of January 2012, 18:00 (EET/Finnish time).
            </p>
            
            <p>
                <span class="highlight">Please note that deadlines for all competitions are before the event!</span>            
            </p>            
             
            <p>
                <span class="highlight">
                    Remote entries are allowed.
                </span>
            </p>
            
            <p>
                <span class="highlight">
                    There are no size or time limits.
                </span>
            </p>
            
            <p>
                If you have any questions, contact us at
                &#099;&#111;&#109;&#112;&#101;&#116;&#105;&#116;&#105;&#111;&#110;&#115;<span>&#x40;</span>&#x69;&#x63;&#111;&#x6e;&#115;&#x2e;&#102;&#105;
            </p>
        </article>
        
        <article>            
            Machine used to run the realtime entries has the following specifications:
            <br/>
            <ul>
                <li>Operating system: Windows 7 64bit</li>
                <li>CPU: 3GHz, 4 cores</li>
                <li>GPU: Graphics card with DirectX 11 and Shader Model 5.0 support</li>
                <li>RAM: 12 GB.</li>
            </ul>
            
            Projector's resolution is 1024x768.
        </article>
        
        <article>
            <p>
                If the length of your competition entry is over 20 minutes then please send us an email before 31st of December 2011 so that the entry can be properly scheduled.
            </p>
            <p>
                You must have the copyrights or permission from the copyright holders if your entry uses material that is not made by you.            
                Entries must follow Finnish laws.
            </p>
            <p>
                Organizers reserve right to disqualify entries or change the rules.
                Any competition may have a preselection.
            </p>
        </article>
                
        <hr/>    
        
        <article>
            <h3>Freestyle Graphics</h3>
            There is a preselection and 10 best entries will be showed on the walls of the venue throughout the party.
            Pictures will be printed in standard A4 size.
            File format is PNG.
        </article>
        
        <article>
            <h3>Photo</h3>
            Colors can be slightly adjusted.
            There is a preselection and 10 best entries will be showed on the walls of the venue throughout the party.
            Pictures will be printed in standard A4 size.
            File format is PNG.
        </article>
        
        <article>
            <h3>Film</h3>
            File format should be something that is supported by vanilla VLC media player version 1.1.11.
        </article>
        
        <hr/>
        
        <article>
            <h3>VJ Demo</h3>
            
            <p>
                Play a VJ set for live music act.
                Live music is provided by the band <a href="http://www.myspace.com/getmemusic" target="_blank">Get Me</a>.
            </p>
            
            <p>
                Actual song list will not be public before the compo so improvising is a must but feel free to get inspiration from the songs in the myspace page.
            </p>
            
            <p>
                VJ set length is approximately 20 minutes.
            </p>
        </article>
        
        <article>
            <h3>&nbsp;</h3>
            <p>
                Maximum number of participants is <b>4</b>.
            </p>
                    
            <p>
            If you want to participate to this compo then please send organizers a mail.
            Due to restricted amount of participants you should give some sort of proof that you have experience doing VJ gigs or that you are truly able to do it.
            </p>
            
            <p>
                Remote entries are not allowed.
            </p>
        </article>
            
        <article>   
            <h3>&nbsp;</h3>
            Equipment provided in the compo per VJ set:
            <ul>
                <li>VGA cable for the bigscreen</li>
                <li>3.5 mm audio-in cable</li>
                <li>Table for two persons and two computers computers.</li>
            </ul>
            
            VJ set must be assembled in less than 15 minutes before the performance starts and disassembled in less than 5 minutes immediately after the performance.
        </article>
        
        <hr/>
        
        <article>
            <h3>1K Intro</h3>
            Maximum size of the executable is 1024 bytes.
        </article>
                
        <article>
            <h3>Demo</h3>
            Traditional demo compo.
        </article>        
        
        <article>
            <h3>Dance music</h3>
            Make danceable music.
        </article>
        
        <h2>Submitting compo entries</h2>
        
        <article> 
                <p>
                    Please send mail in the following template.
                </p>
                
                <p>
                    If you don't have any place to upload your entry then we'll try to resolve the issue by some other way.
                </p>
        </article>
        
        <article class="double">
            <section>
                <p>
                    <b>To:</b>
                    &#099;&#111;&#109;&#112;&#101;&#116;&#105;&#116;&#105;&#111;&#110;&#115;<span>&#x40;</span>&#x69;&#x63;&#111;&#x6e;&#115;&#x2e;&#102;&#105;
                </p>

                <p>
                    <b>Title:</b>
                    Entry to competition [competition name]
                </p>

                <p>
                    <b>Body:</b>

                    <table>
                        <tr>
                            <td>Competition:</td>
                            <td>[competition name]</td>
                        </tr>
                        <tr>
                            <td>Entry name:</td>
                            <td>[entry name]</td>
                        </tr>
                        <tr>
                            <td>Handle/group:</td>
                            <td>[handle/group name]</td>
                        </tr>
                        <tr>
                            <td>Download:</td>
                            <td>[URL to the entry file]</td>
                        </tr>
                        <tr>
                            <td>Notes to the organizers:</td>
                            <td>[notes]</td>
                        </tr>
                        <tr>
                            <td>Notes to the big screen:</td>
                            <td>[notes to be displayed before showing the entry]</td>
                        </tr>
                    </table>
                </p>
            </section>
        </article>

{% endblock %}
